body{
    margin: 0px;
    padding: 0px
}
  
*{
    box-sizing: border-box;
}
.container{
   
  text-align: center;
   grid-template-columns: repeat(3,100px);
   
   display: grid;
   grid: gap 50px;
 
}
.item{
    background-color: black;
    color: white;
}
.item1{
    grid-row: 1/4
    ;
}